
body {
  margin: 0;
  padding: 0;
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro','メイリオ', 'Meiryo', '游ゴシック', 'Yu Gothic', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  user-select: none;
}

#mondai {
  width: fit-content;
  margin: 8px auto 0;
  font-size: 128px;
}

#kaisetu {
  width: fit-content;
  margin: 8px auto 0;
  font-size: 24px;
}

.month-buttons {
  max-width: 810px;
  margin: 40px auto 0;
}

.month-buttons {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
  justify-content: center;
}

.month-buttons input[type="radio"] {
  display: none;
}

.month-buttons label {
  width: 32px;
  padding: 6px;
  border: 2px solid #007bff;
  border-radius: 6px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.month-buttons input[type="radio"]:checked + label {
  background-color: #007bff;
  color: white;
}
